<nav class="navigation">
  {{#foreach navigation}}
  <div class="nav-item nav-{{slug}} {{#if current}}nav-current{{/if}}">
    <a href="{{url absolute="true"}}" title="{{label}}" aria-label="page link {{label}}">{{label}}</a>
  </div>
  {{/foreach}}
</nav>