{{!< default}} {{#post}}

<article class="gh-article {{post_class}}">

  <header class="gh-header gh-canvas flex flex-col items-center text-center">
    <div class="title-area mb-10 flex flex-col items-center text-gray-900 dark:text-offwhite">
      <div class="logo mb-8">
        <svg class="fill-current w-6 md:w-10" viewBox="0 0 72 62" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M34.5381 0L0 20.6497V31.6142L24.6701 16.8122V19.9188L0 34.7208V61.0355L34.5381 40.3858V28.9828L10.0508 43.6751V40.5685L34.5381 25.8762V0ZM37.4619 0L72 20.6497V32.0528L46.599 16.8122V19.0051V34.9036L61.6751 43.8579V40.8427L49.5228 33.5513V21.6731L72 35.1594V61.0355L37.4619 40.3858V0Z" />
        </svg>
      </div>
      <h1 class="gh-title font-playfair font-extrabold text-3xl md:containertext-5xl mb-4"> {{ title }}
      </h1>
      <span class="gh-post-meta font-nunito uppercase text-semibold tracking-wide text-xs text-nord3 dark:text-nord4">
        {{ primary_tag.name }} | {{reading_time}}
      </span>
    </div>


    {{#if feature_image}}
    <img class="gh-feature-image w-full mb-16 shadow-double-drop rounded-lg" srcset="{{img_url feature_image size=" s"}} 300w, {{img_url feature_image
      size="m" }} 600w, {{img_url feature_image size="l" }} 1000w, {{img_url feature_image size="xl" }} 2000w"
      sizes="(max-width: 1000px) 1000px, 2000px" loading="lazy" src="{{img_url feature_image size=" xl"}}"
      alt="{{title}}" />
    {{/if}}

    {{#if custom_excerpt}}
    <div class="excerpt-container grid grid-cols-1 md:grid-cols-6">
      <p class="gh-excerpt text-left font-playfair text-xl md:text-2xl font-extrabold mb-8 md:col-start-2 md:col-span-4">{{custom_excerpt}}</p>
    </div>
    {{/if}}
  </header>

  <div class="gh-content gh-canvas grid grid-cols-1 md:grid-cols-6">
    <main class="md:col-start-2 md:col-span-4">
      {{content}}
    </main>
  </div>

  <footer class="gh-footer gh-canvas">

    {{!--
    <section class="gh-post-comments">
      If you want to embed comments, this is a good place to do it!
    </section>
    --}}

  </footer>

</article>

<aside class="gh-readmore hidden md:inline">
  <div class="gh-readmore-inner gh-container flex justify-between px-24">
    <div class="gh-readmore-next">
      {{#next_post}}
      <a href="{{url}}" class="flex items-center">
        <div class="icon w-8 pr-4">
          {{> "icons/arrow-left"}}
        </div>
        <h4 class="font-playfair font-extrabold text-2xl">Next</h4>
      </a>
      {{/next_post}}
    </div>
    <div class="gh-readmore-prev">
      {{#prev_post}}
      <a href="{{url}}" class="flex items-center">
        <h4 class="font-playfair font-extrabold text-2xl">Previous</h4>
        <div class="icon w-8 pl-4">
          {{> "icons/arrow-right"}}
        </div>
      </a>
      {{/prev_post}}
    </div>
  </div>
</aside>

{{/post}}